.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: moveright 1s ease 0s infinite;

}
@keyframes moveright {
    from{ transform: rotateZ(360deg);}
    to{ transform: rotateZ(0);}
}